# Q1: Categorize numeric and categorical column of a DF

In [313]:
# import panda library
import pandas as pd

# define a custom function to categorize columns in a data frame
def find_type(df):
    num_type = []
    cat_type = []
    for name, type in df.dtypes.items():
        if type in ['float64', 'int64']:
            num_type.append(name)
        else:
            cat_type.append(name)

    return num_type, cat_type

In [315]:
import pandas as pd
# Import dataset ROA38 - Driving Tester Distribution (https://data.cso.ie/table/ROA38)
# Remove irrelevant columns
use_cols = [3, 5, 6, 7]
df_dtd = pd.read_csv('ROA38.csv', usecols = use_cols)
# df_dtd.head()

# Change the order of column as in the below
col_order = ['Month', 'Driving Test Centre', 'UNIT', 'VALUE']

# update the dataframe with column order
df_dtd = df_dtd[col_order]

#rename the value column with a meaningful name
df_dtd.rename(columns={"VALUE": "Driving Test Distribution"}, inplace = True)

# find the dtypes using custom function find_type
num_dtd, cat_dtd = find_type(df_dtd)

print('Numerical Columns are {}'.format(num_dtd))
print('Categorical Columns are {} \n'.format(cat_dtd))

Numerical Columns are ['Driving Test Distribution']
Categorical Columns are ['Month', 'Driving Test Centre', 'UNIT']

In [319]:
# Import dataset ROA36 - Driving Test Waiting Time (https://data.cso.ie/table/ROA36)
# Remove irrelevant columns
use_cols = [2, 3, 5, 6, 7]
df_dtwt = pd.read_csv('ROA36.csv', usecols = use_cols)

# Change the order of column as in the below
col_order = ['TLIST(M1)', 'Month', 'Driving Test Centre', 'UNIT', 'VALUE']

# update the dataframe with column order
df_dtwt = df_dtwt[col_order]

#rename the value column with a meaningful name
df_dtwt.rename(columns={"TLIST(M1)": "Period", "VALUE": "Driving Test Wait Time"}, inplace = True)

# find the dtypes using custom function find_type
num_dtwt, cat_dtwt = find_type(df_dtwt)

print('Numerical Columns are', num_dtwt)
print('Categorical Columns are', cat_dtwt)

Numerical Columns are ['Period', 'Driving Test Wait Time']
Categorical Columns are ['Month', 'Driving Test Centre', 'UNIT']

# Q2.1 - Concatenate 2 Dataset

In [322]:
# Function to concate two dataset
def concat_df(df1, df2):
    concat_df = pd.concat([df1, df2]) 
    return concat_df

In [489]:
# call the custom function to concate dataset
# pass 2 dataset and get the resultant dataset

df_concat = concat_df(df_dtd, df_dtwt)

# remove the duplicated records by using function drop_duplicates
df_concat = df_concat.drop_duplicates()

#Find the row and column count
row_count, col_count = df_concat.shape

#print row and column count

print('Number of rows in the concatenated dataset:', row_count)
print('Number of columns in the concatenated dataset:', col_count)

Number of rows in the concatenated dataset: 3944
Number of columns in the concatenated dataset: 6

# Q2.2 - Calculate correlation matrix using NumPy

In [391]:
import numpy as np

# Dataset - World Happiness Report 2023
df_happy = pd.read_csv('WHR2023.csv')

# Select only numeric coloumns
num_col = df_happy.select_dtypes(include='number')

# Calculate correlation matrix for all number coloumns.
corr_matrix = np.corrcoef(num_col, rowvar=False)
print(corr_matrix)

[[ 1.          0.78436731  0.83453165         nan  0.66292435  0.04408178
  -0.47191055]
 [ 0.78436731  1.          0.73806877         nan  0.45143893 -0.15645556
  -0.43696084]
 [ 0.83453165  0.73806877  1.                 nan  0.54163014  0.03657376
  -0.27249045]
 [        nan         nan         nan         nan         nan         nan
          nan]
 [ 0.66292435  0.45143893  0.54163014         nan  1.          0.17022947
  -0.3837863 ]
 [ 0.04408178 -0.15645556  0.03657376         nan  0.17022947  1.
  -0.12265326]
 [-0.47191055 -0.43696084 -0.27249045         nan -0.3837863  -0.12265326
   1.        ]]

In [459]:
# Find pair of columns with highest correlation coefficient and their names

# Initialize variables
highest_corr = 0
highest_corr_pair = None

# Find the number of columns
col_len = len(num_col.columns)

#Loop the first column name 
for i in range(col_len):
    col1 = num_col.columns[i]
    # print('1: ', col1)
    
    for j in range(i+1, col_len):
        col2 = num_col.columns[j]  
        # print('2: ', col2)
        
        # Find correlation between two columns
        corr_coef = np.corrcoef(num_col[col1], num_col[col2])[0,1] 
        # print(corr_coef)

        # Find highest correlation coefficient and it's pair
        if corr_coef > highest_corr:
            highest_corr = corr_coef
            highest_corr_pair = (col1, col2)

print('Columns with Highest Correlation Coefficient is:', highest_corr_pair, 'with Correlation Coefficient of:', highest_corr)

Columns with Highest Correlation Coefficient is: ('Ladder score', 'Social support') with Correlation Coefficient of: 0.8345316508727755

# Q3 - Find Mean, Min, Max of 1000 random numbers using NumPy array

In [484]:
#Generate NumPy array for 1000 numbers
num = np.arange(1,1001,1)

#Shape array with 5 columns
arr = np.reshape(num, (200, 5))

#Calculate mean of 5 consecutive numbers
mean = np.mean(arr, axis=1) #axis = 1 will find mean for each row
print('Mean Value of Each Row:\n', mean)

#Find the min number in each row
min = np.min(arr, axis=1)
print('Minimum Value in Each Row:\n', min)

#Find the max number in each row
max = np.max(arr, axis=1)
print('Maximum Value in Each Row:\n', max)

#Find the max number comparing the min and max array
max_value = np.maximum(np.abs(max), np.abs(min))
print('Abs Max comparing Max and Min:\n', max_value)

Mean Value of Each Row:
 [  3.   8.  13.  18.  23.  28.  33.  38.  43.  48.  53.  58.  63.  68.
  73.  78.  83.  88.  93.  98. 103. 108. 113. 118. 123. 128. 133. 138.
 143. 148. 153. 158. 163. 168. 173. 178. 183. 188. 193. 198. 203. 208.
 213. 218. 223. 228. 233. 238. 243. 248. 253. 258. 263. 268. 273. 278.
 283. 288. 293. 298. 303. 308. 313. 318. 323. 328. 333. 338. 343. 348.
 353. 358. 363. 368. 373. 378. 383. 388. 393. 398. 403. 408. 413. 418.
 423. 428. 433. 438. 443. 448. 453. 458. 463. 468. 473. 478. 483. 488.
 493. 498. 503. 508. 513. 518. 523. 528. 533. 538. 543. 548. 553. 558.
 563. 568. 573. 578. 583. 588. 593. 598. 603. 608. 613. 618. 623. 628.
 633. 638. 643. 648. 653. 658. 663. 668. 673. 678. 683. 688. 693. 698.
 703. 708. 713. 718. 723. 728. 733. 738. 743. 748. 753. 758. 763. 768.
 773. 778. 783. 788. 793. 798. 803. 808. 813. 818. 823. 828. 833. 838.
 843. 848. 853. 858. 863. 868. 873. 878. 883. 888. 893. 898. 903. 908.
 913. 918. 923. 928. 933. 938. 943. 948. 953. 958. 963. 968. 973. 978.
 983. 988. 993. 998.]
Minimum Value in Each Row:
 [  1   6  11  16  21  26  31  36  41  46  51  56  61  66  71  76  81  86
  91  96 101 106 111 116 121 126 131 136 141 146 151 156 161 166 171 176
 181 186 191 196 201 206 211 216 221 226 231 236 241 246 251 256 261 266
 271 276 281 286 291 296 301 306 311 316 321 326 331 336 341 346 351 356
 361 366 371 376 381 386 391 396 401 406 411 416 421 426 431 436 441 446
 451 456 461 466 471 476 481 486 491 496 501 506 511 516 521 526 531 536
 541 546 551 556 561 566 571 576 581 586 591 596 601 606 611 616 621 626
 631 636 641 646 651 656 661 666 671 676 681 686 691 696 701 706 711 716
 721 726 731 736 741 746 751 756 761 766 771 776 781 786 791 796 801 806
 811 816 821 826 831 836 841 846 851 856 861 866 871 876 881 886 891 896
 901 906 911 916 921 926 931 936 941 946 951 956 961 966 971 976 981 986
 991 996]
Maximum Value in Each Row:
 [   5   10   15   20   25   30   35   40   45   50   55   60   65   70
   75   80   85   90   95  100  105  110  115  120  125  130  135  140
  145  150  155  160  165  170  175  180  185  190  195  200  205  210
  215  220  225  230  235  240  245  250  255  260  265  270  275  280
  285  290  295  300  305  310  315  320  325  330  335  340  345  350
  355  360  365  370  375  380  385  390  395  400  405  410  415  420
  425  430  435  440  445  450  455  460  465  470  475  480  485  490
  495  500  505  510  515  520  525  530  535  540  545  550  555  560
  565  570  575  580  585  590  595  600  605  610  615  620  625  630
  635  640  645  650  655  660  665  670  675  680  685  690  695  700
  705  710  715  720  725  730  735  740  745  750  755  760  765  770
  775  780  785  790  795  800  805  810  815  820  825  830  835  840
  845  850  855  860  865  870  875  880  885  890  895  900  905  910
  915  920  925  930  935  940  945  950  955  960  965  970  975  980
  985  990  995 1000]
Abs Max comparing Max and Min:
 [   5   10   15   20   25   30   35   40   45   50   55   60   65   70
   75   80   85   90   95  100  105  110  115  120  125  130  135  140
  145  150  155  160  165  170  175  180  185  190  195  200  205  210
  215  220  225  230  235  240  245  250  255  260  265  270  275  280
  285  290  295  300  305  310  315  320  325  330  335  340  345  350
  355  360  365  370  375  380  385  390  395  400  405  410  415  420
  425  430  435  440  445  450  455  460  465  470  475  480  485  490
  495  500  505  510  515  520  525  530  535  540  545  550  555  560
  565  570  575  580  585  590  595  600  605  610  615  620  625  630
  635  640  645  650  655  660  665  670  675  680  685  690  695  700
  705  710  715  720  725  730  735  740  745  750  755  760  765  770
  775  780  785  790  795  800  805  810  815  820  825  830  835  840
  845  850  855  860  865  870  875  880  885  890  895  900  905  910
  915  920  925  930  935  940  945  950  955  960  965  970  975  980
  985  990  995 1000]

# Q4 - Connect to MySQL DB and create a table and maintain data

In [541]:
import mysql.connector

 
# Connecting to mysql server
conn = mysql.connector.connect(user = 'root',
                               host = 'localhost',
                                port = '3306',
                               password='Name@1234',
                              database = 'zsan')
 
# print(conn)

# Get the cursor for DB connection
mycursor = conn.cursor()

#Create a database named ZSAN.
# mycursor.execute("CREATE DATABASE ZSAN")

# Display All database
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('zsan',)

In [543]:
# Create a table named 'student'
mycursor.execute("CREATE TABLE IF NOT EXISTS STUDENT (id INT(3), name VARCHAR(45), class VARCHAR(45), subject VARCHAR(45))")

# Display all the tables
mycursor.execute("SHOW TABLES")

# Loop all table names and print
for x in mycursor:
  print(x)

('student',)
('zsan1',)

In [547]:
# Insert a record into table 

mycursor.execute("INSERT INTO student (ID, Name, Class, Subject) VALUES (3, 'Maria', 'UG', 'Civil')")
conn.commit()

In [549]:
# Select the records
mycursor.execute("SELECT * from student")
tab = mycursor.fetchall()

# Loop all the records and print
for line in tab:
    print(line)

(1, 'Santhosh', 'PG', 'AI')
(2, 'John', 'PG', 'Data Science')
(3, 'Maria', 'UG', 'Civil')

# Q5 - EDA on Irish Dataset