# Q1: Categorize numeric and categorical column of a DF

In [231]:
# import panda library
import pandas as pd

# define a custom function to categorize columns in a data frame
def find_type(df):
    num_type = []
    cat_type = []
    for name, type in df.dtypes.items():
        if type in ['float64', 'int64']:
            num_type.append(name)
        else:
            cat_type.append(name)

    return num_type, cat_type

In [268]:
import pandas as pd
# Import dataset ROA38 - Driving Tester Distribution (https://data.cso.ie/table/ROA38)
# Remove irrelevant columns
use_cols = [3, 5, 6, 7]
df_dtd = pd.read_csv('ROA38.csv', usecols = use_cols)
# df_dtd.head()

# Change the order of column as in the below
col_order = ['Month', 'Driving Test Centre', 'UNIT', 'VALUE']

# update the dataframe with column order
df_dtd = df_dtd[col_order]

#rename the value column with a meaningful name
df_dtd.rename(columns={"VALUE": "Driving Test Distribution"}, inplace = True)

# find the dtypes using custom function find_type
num_dtd, cat_dtd = find_type(df_dtd)

print('Numerical Columns are {}'.format(num_dtd))
print('Categorical Columns are {} \n'.format(cat_dtd))

df_dtd.tail()

Numerical Columns are ['Driving Test Distribution']
Categorical Columns are ['Month', 'Driving Test Centre', 'UNIT']

,Month,Driving Test Centre,UNIT,Driving Test Distribution
1423,2024 September,"Tullamore, Co. Offaly",Number,3.0
1424,2024 September,"Waterford, Co. Waterford",Number,6.0
1425,2024 September,"Wexford, Co. Wexford",Number,2.0
1426,2024 September,"Wicklow, Co. Wicklow",Number,1.0
1427,2024 September,"Portlaoise (Maldron Hotel), Co. Laois",Number,NaN

In [308]:
# Import dataset ROA36 - Driving Test Waiting Time (https://data.cso.ie/table/ROA36)
# Remove irrelevant columns
use_cols = [2, 3, 5, 6, 7]
df_dtwt = pd.read_csv('ROA36.csv', usecols = use_cols)

# Change the order of column as in the below
col_order = ['TLIST(M1)', 'Month', 'Driving Test Centre', 'UNIT', 'VALUE']

# update the dataframe with column order
df_dtwt = df_dtwt[col_order]

#rename the value column with a meaningful name
df_dtwt.rename(columns={"TLIST(M1)": "Period", "VALUE": "Driving Test Wait Time"}, inplace = True)

# find the dtypes using custom function find_type
num_dtwt, cat_dtwt = find_type(df_dtwt)

print('Numerical Columns are', num_dtwt)
print('Categorical Columns are', cat_dtwt)

df_dtwt.tail()

Numerical Columns are ['Period', 'Driving Test Wait Time']
Categorical Columns are ['Month', 'Driving Test Centre', 'UNIT']

,Period,Month,Driving Test Centre,UNIT,Driving Test Wait Time
2511,202409,2024 September,"Tullamore, Co. Offaly",Weeks,16.0
2512,202409,2024 September,"Waterford, Co. Waterford",Weeks,15.0
2513,202409,2024 September,"Wexford, Co. Wexford",Weeks,20.0
2514,202409,2024 September,"Wicklow, Co. Wicklow",Weeks,21.0
2515,202409,2024 September,"Portlaoise (Maldron Hotel), Co. Laois",Weeks,21.0

# Q2.1 - Concatenate 2 Dataset

In [284]:
# Function to concate two dataset
def concat_df(df1, df2):
    concat_df = pd.concat([df1, df2]) 
    return concat_df

In [296]:
# call the custom function to concate dataset
# pass 2 dataset and get the resultant dataset

df_concat = concat_df(df_dtd, df_dtwt)

# remove the duplicated records by using function drop_duplicates
df_concat = df_concat.drop_duplicates()

#Find the row and column count
row_count, col_count = df_concat.shape

#print row and column count

print('Number of rows in the concatenated dataset:', row_count)
print('Number of columns in the concatenated dataset:', col_count)

Number of rows in the concatenated dataset: 3944
Number of columns in the concatenated dataset: 6

# Q2.2 - Calculate correlation matrix using NumPy