# CA2 - Classification Using Neural Networks

In [1]:
# Load the Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#from tensorflow.keras.models import Sequential
#from tensorflow.keras.layers import Dense

In [2]:
# Load the csv file
df = pd.read_csv('glass_data.csv')

In [3]:
# Check first 5 record
df.head()

   id       ri     na    mg    al     si     k    ca   ba   fe  type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
#Check data type for all the features
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      214 non-null    int64
 1   ri      214 non-null    float64
 2   na      214 non-null    float64
 3   mg      214 non-null    float64
 4   al      214 non-null    float64
 5   si      214 non-null    float64
 6   k       214 non-null    float64
 7   ca      214 non-null    float64
 8   ba      214 non-null    float64
 9   fe      214 non-null    float64
 10  type    214 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB

In [5]:
# check for any null values or missing data
df.isnull().sum()

id      0
ri      0
na      0
mg      0
al      0
si      0
k       0
ca      0
ba      0
fe      0
type    0
dtype: int64

In [6]:
# check value count for column 'ID'
df['id'].value_counts()

id
1      1
2      1
3      1
4      1
5      1
      ..
210    1
211    1
212    1
213    1
214    1
Name: count, Length: 214, dtype: int64

In [7]:
# check value count for column 'type'
df['type'].value_counts()

type
2    76
1    70
7    29
3    17
5    13
6     9
Name: count, dtype: int64

In [8]:
# drop the column 'ID' since it has all unique value 
df_original = df
df = df.drop('id', axis=1)

In [9]:
# check the row and column count
df.shape

(214, 10)

In [10]:
# Check Descriptive Statistics
df.describe()

,ri,na,mg,al,si,k,ca,ba,fe,type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [11]:
# check for duplicate values
df.duplicated().sum()

np.int64(1)

In [12]:
df.duplicated().to_string()

'0      False\n1      False\n2      False\n3      False\n4      False\n5      False\n6      False\n7      False\n8      False\n9      False\n10     False\n11     False\n12     False\n13     False\n14     False\n15     False\n16     False\n17     False\n18     False\n19     False\n20     False\n21     False\n22     False\n23     False\n24     False\n25     False\n26     False\n27     False\n28     False\n29     False\n30     False\n31     False\n32     False\n33     False\n34     False\n35     False\n36     False\n37     False\n38     False\n39      True\n40     False\n41     False\n42     False\n43     False\n44     False\n45     False\n46     False\n47     False\n48     False\n49     False\n50     False\n51     False\n52     False\n53     False\n54     False\n55     False\n56     False\n57     False\n58     False\n59     False\n60     False\n61     False\n62     False\n63     False\n64     False\n65     False\n66     False\n67     False\n68     False\n69     False\n70     False\n71     False\n72     False\n73     False\n74     False\n75     False\n76     False\n77     False\n78     False\n79     False\n80     False\n81     False\n82     False\n83     False\n84     False\n85     False\n86     False\n87     False\n88     False\n89     False\n90     False\n91     False\n92     False\n93     False\n94     False\n95     False\n96     False\n97     False\n98     False\n99     False\n100    False\n101    False\n102    False\n103    False\n104    False\n105    False\n106    False\n107    False\n108    False\n109    False\n110    False\n111    False\n112    False\n113    False\n114    False\n115    False\n116    False\n117    False\n118    False\n119    False\n120    False\n121    False\n122    False\n123    False\n124    False\n125    False\n126    False\n127    False\n128    False\n129    False\n130    False\n131    False\n132    False\n133    False\n134    False\n135    False\n136    False\n137    False\n138    False\n139    False\n140    False\n141    False\n142    False\n143    False\n144    False\n145    False\n146    False\n147    False\n148    False\n149    False\n150    False\n151    False\n152    False\n153    False\n154    False\n155    False\n156    False\n157    False\n158    False\n159    False\n160    False\n161    False\n162    False\n163    False\n164    False\n165    False\n166    False\n167    False\n168    False\n169    False\n170    False\n171    False\n172    False\n173    False\n174    False\n175    False\n176    False\n177    False\n178    False\n179    False\n180    False\n181    False\n182    False\n183    False\n184    False\n185    False\n186    False\n187    False\n188    False\n189    False\n190    False\n191    False\n192    False\n193    False\n194    False\n195    False\n196    False\n197    False\n198    False\n199    False\n200    False\n201    False\n202    False\n203    False\n204    False\n205    False\n206    False\n207    False\n208    False\n209    False\n210    False\n211    False\n212    False\n213    False'

In [13]:
df.head(41)

         ri     na    mg    al     si     k    ca    ba    fe  type
0   1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00     1
1   1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
2   1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
3   1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
4   1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
5   1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
6   1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.00  0.00     1
7   1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.00  0.00     1
8   1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.00  0.00     1
9   1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.00  0.11     1
10  1.51571  12.72  3.46  1.56  73.20  0.67  8.09  0.00  0.24     1
11  1.51763  12.80  3.66  1.27  73.01  0.60  8.56  0.00  0.00     1
12  1.51589  12.88  3.43  1.40  73.28  0.69  8.05  0.00  0.24     1
13  1.51748  12.86  3.56  1.27  73.21  0.54  8.38  0.00  0.17     1
14  1.51763  12.61  3.59  1.31  73.29  0.58  8.50  0.00  0.00     1
15  1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.00  0.00     1
16  1.51784  12.68  3.67  1.16  73.11  0.61  8.70  0.00  0.00     1
17  1.52196  14.36  3.85  0.89  71.36  0.15  9.15  0.00  0.00     1
18  1.51911  13.90  3.73  1.18  72.12  0.06  8.89  0.00  0.00     1
19  1.51735  13.02  3.54  1.69  72.73  0.54  8.44  0.00  0.07     1
20  1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.00  0.19     1
21  1.51966  14.77  3.75  0.29  72.02  0.03  9.00  0.00  0.00     1
22  1.51736  12.78  3.62  1.29  72.79  0.59  8.70  0.00  0.00     1
23  1.51751  12.81  3.57  1.35  73.02  0.62  8.59  0.00  0.00     1
24  1.51720  13.38  3.50  1.15  72.85  0.50  8.43  0.00  0.00     1
25  1.51764  12.98  3.54  1.21  73.00  0.65  8.53  0.00  0.00     1
26  1.51793  13.21  3.48  1.41  72.64  0.59  8.43  0.00  0.00     1
27  1.51721  12.87  3.48  1.33  73.04  0.56  8.43  0.00  0.00     1
28  1.51768  12.56  3.52  1.43  73.15  0.57  8.54  0.00  0.00     1
29  1.51784  13.08  3.49  1.28  72.86  0.60  8.49  0.00  0.00     1
30  1.51768  12.65  3.56  1.30  73.08  0.61  8.69  0.00  0.14     1
31  1.51747  12.84  3.50  1.14  73.27  0.56  8.55  0.00  0.00     1
32  1.51775  12.85  3.48  1.23  72.97  0.61  8.56  0.09  0.22     1
33  1.51753  12.57  3.47  1.38  73.39  0.60  8.55  0.00  0.06     1
34  1.51783  12.69  3.54  1.34  72.95  0.57  8.75  0.00  0.00     1
35  1.51567  13.29  3.45  1.21  72.74  0.56  8.57  0.00  0.00     1
36  1.51909  13.89  3.53  1.32  71.81  0.51  8.78  0.11  0.00     1
37  1.51797  12.74  3.48  1.35  72.96  0.64  8.68  0.00  0.00     1
38  1.52213  14.21  3.82  0.47  71.77  0.11  9.57  0.00  0.00     1
39  1.52213  14.21  3.82  0.47  71.77  0.11  9.57  0.00  0.00     1
40  1.51793  12.79  3.50  1.12  73.03  0.64  8.77  0.00  0.00     1

In [14]:
dup = df[df.duplicated()]
print(dup)

         ri     na    mg    al     si     k    ca   ba   fe  type
39  1.52213  14.21  3.82  0.47  71.77  0.11  9.57  0.0  0.0     1

In [17]:
# drop the duplicated entry leaving first occurence
df.drop_duplicates(keep= 'first', inplace=True)
df.shape

(213, 10)